.indexDiv{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 7rem;


}

.indexImg{
    max-width: 200px;
}

