.indexContainer{
    padding: auto; 
    margin: 50px ;
    border-radius: 10px;
}

.indexDiv{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-evenly;

.books{
    margin-top: 3rem;
    }

}

.indexImg{
    max-width: 200px;
    margin: 10px;
}

.indexTitle{
    font-size: 50px;
    color:rgb(63, 63, 63)
}

p{
    font-size: larger;
}

.welcomeDiv{
    width: 60vw;
    height: 8vw;
    margin: 40px auto;
    padding-top: 5px;
    padding-bottom: 40px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px #ddd,
               -1px -1px 10px #ddd,
                1px -1px 10px #ddd,
               -1px 1px 10px #ddd;
}
.indexP{
    margin: 8px;
    font-style: italic;
}

.App{
    margin-bottom: 70px;
}

//footer

a{
    font-family: Quintessential, cursive;
    text-decoration: none;
    color: white;
}



