//Header

.nav{
    display: flex;
    justify-content: space-between;
    background-color: gray;
    align-items: center;
}
.nav > a{
    margin: 5px;
    color: white;
    text-decoration: none;
}

//Footer

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: gray;
    color: white;
    text-align: center;
}